<div class="contact">
  <form ng-submit="sendMessage()" name="contactForm" novalidate>
    <input
      type="text"
      name="name"
      placeholder="Name..."
      ng-required="true"
      ng-model="contact.name"
    />
    <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small style="color: red; display: block; text-align: center"
        >Please Enter a Valid Name</small
      >
    </div>

    <input
      type="email"
      name="email"
      placeholder="Email..."
      ng-required="true"
      ng-model="contact.email"
    />
    <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small style="color: red; display: block; text-align: center"
        >Please Enter a Valid Email</small
      >
    </div>
    <textarea
      name="message"
      placeholder="Your message..."
      ng-model="contact.message"
    ></textarea>

    <input type="submit" value="Send" ng-disabled="contactForm.$invalid" />
  </form>
</div>
