<!-- Content -->
<div class="content">
  <p>{{message}}</p>

  <button ng-click="order = 'name'">Order by name</button>
  <button ng-click="order = 'belt'">Order by belt</button>

  <input type="text" ng-model="search" placeholder="Search for name" />

  <h2>Names:</h2>
  <br />
  <h3 ng-show="isLoading">Loading...</h3>
  <ul>
    <!-- <li ng-repeat="name in names | orderBy: '-name'">{{name.name}}</li> -->
    <li
      ng-repeat="name in names | orderBy: order | filter: search"
      ng-show="name.available"
    >
      {{name.id}}-
      <!-- ng-hide="name.available" -->
      <!-- <img src="{{name.thumb}}" alt="pic of name" /> -->
      <img ng-src="{{name.thumb}}" alt="pic of name" ng-show="name.thumb" />
      <h3>{{name.name | uppercase}} & {{name.money | currency: 'E'}}</h3>

      <div class="remove" ng-click="removeName(name)">X</div>

      <span
        class="belt"
        style="
              background: {{name.belt}};
              "
        >{{name.belt | uppercase}} belt</span
      >
      <span><a href="#!/directory/{{name.id}}">Visit</a></span>
    </li>
  </ul>

  <form ng-submit="addName()">
    <input type="text" placeholder="Name" ng-model="newName.name" />
    <input type="text" placeholder="Money" ng-model="newName.money" />
    <input type="text" placeholder="Belt" ng-model="newName.belt" />

    <label>Available:</label>
    <input type="checkbox" ng-model="newName.available" />

    <input type="submit" value="Add New Name" />
  </form>
</div>
